.main{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to left, rgba(0, 78, 146, 1), rgba(0, 4, 40, 1));
}

.title{
    padding-top: 100px;
    width: 95%;
    margin: auto;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.titleBar{
    width: 307px;
    height: 40px;
    background-color: white;
    border-radius: 15px;
    display: flex;
}

.titleLogo{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.titlesTtile{
    width: 80%;
    display: flex; 
    align-items: center;
    justify-content: center;
    font-family: 'Exo 2', sans-serif;
    font-weight: bold;
}

.des{
    width: 93%;
    margin: auto;
    height: 490px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
}

.container{
    width: 1150px;
    height: 390px;
    background-image: url('../exports/Rectangle\ 35.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

