.main{
    width: 100%;
    /* height: 100vh; */
    background-image: linear-gradient(to left, rgba(0, 78, 146, 1), rgba(0, 4, 40, 1));
}


.des{
    width: 93%;
    margin: auto;
    height: 732px;
    background-color: white;
    border-radius: 10px;
    padding-top: 40px;
    border-radius: 10px;
}


.footer{
    width: 1150px;
    height: 135px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.button{
    width: 107px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 41px;
    border-radius: 61px;
    font-size: 13px;
    background-color: rgba(21, 146, 255, 1);
    color: white;
    font-family: 'Inter', 'san-sarif';
}

